{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/ServiceAtLocation?idServiceAtLocation=Invalid_ID",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\r\n  \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.4\",\r\n  \"title\": \"Not Found\",\r\n  \"status\": 404,\r\n  \"traceId\": \"80000ac3-0002-c400-b63f-84710c7967bb\"\r\n}"
        }
      },
      "recorded_at": "Sat, 16 Sep 2023 16:02:45 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/ServiceAtLocation?idServiceAtLocation=Float::INFINITY",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\r\n  \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.4\",\r\n  \"title\": \"Not Found\",\r\n  \"status\": 404,\r\n  \"traceId\": \"8000140e-0002-af00-b63f-84710c7967bb\"\r\n}"
        }
      },
      "recorded_at": "Sat, 16 Sep 2023 16:44:09 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}