{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Distance=10&Keyword=healthcare&Location=denver%20CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ],
          "Search-Location": [
            "denver co,United States"
          ],
          "Search-Location-Complete": [
            "{\"city\":\"Denver\",\"county\":\"Denver\",\"state\":\"Colorado\",\"stateAbbr\":\"CO\",\"postalCode\":null,\"country\":\"United States\",\"latitude\":\"39.73845\",\"longitude\":\"-104.98485\"}"
          ],
          "Search-For": [
            "keywords=healthcare"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\r\n  \"count\": 805,\r\n  \"coverage\": null,\r\n  \"facets\": {\r\n    \"cityPhysicalAddress\": [\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Washington\",\r\n        \"count\": 54\r\n      },\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Youngstown\",\r\n        \"count\": 49\r\n      },\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Chicago\",\r\n        \"count\": 36\r\n      },\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Manchester\",\[...]
