{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/ServiceAtLocation?idServiceAtLocation=211contrac-1561",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ],
          "View-Data": [
            "{\"idOrganization\":\"211contrac-213\",\"idService\":\"211contrac-1561\",\"idLocation\":\"211contrac-1617\",\"idServiceAtLocation\":\"211contrac-1561\",\"nameOrganization\":\"DAVITA HEALTHCARE PARTNERS\",\"nameService\":\"DAVITA HEALTHCARE PARTNERS (DIALYSIS CENTERS)\",\"location\":{\"city\":\"Denver\",\"county\":\"Denver\",\"stateProvince\":\"CO\",\"postalCode\":\"80202\",\"country\":\"United States\",\"latitude\":\"39.753627\",\"longitude\":\"-105.003635\"},\"serviceTaxonomyCodes\":[\"LT-2600.1500\"]}"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "[\r\n  {\r\n    \"idOrganization\": \"211contrac-213\",\r\n    \"name\": \"DAVITA HEALTHCARE PARTNERS\",\r\n    \"alternateName\": null,\r\n    \"description\": \"Provides dialysis services for those diagnosed with chronic kidney failure, a condition also known as chronic kidney disease (CKD). Provides locations of over 2,000 outpatient dialysis facilities and acute units in over 800 hospitals 46 states and the District of Columbia. Website offers extensive information about CKD.\",\r\n    \"url\": \"http://www.davita.com\",\r\n    \"taxStatus\": null,\r\n    \"taxId\": \"None\",\r\n    \"yearIncorporated\": null,\r\n    \"legalStatus\": \"For Profit\",\r\n    \"services\": [\r\n      {\r\n        \"idService\": \"211contrac-1561\",\r\n        \"idOrganization\": \"211contrac-213\",\r\n        \"name\": \"DAVITA HEALTHCARE PARTNERS (DIALYSIS CENTERS)\",\r\n        \"alternateName\": null,\r\n        \"description\": \"Provides dialysis services for those diagnosed with chronic kidney failure, a condition also known as chronic kidney disease (CKD). Provides locations of over 2,000 outpatient dialysis facilities and acute units in over 800 hospitals 46 states and the District of Columbia. Website offers extensive information about CKD.\",\r\n        \"email\": null,\r\n        \"url\": \"http://www.davita.com\",\r\n        \"status\": \"active\",\r\n        \"applicationProcess\": \"Call for information or use website to locate dialysis clinics by city and/or zip code\",\r\n        \"waitTime\": null,\r\n        \"fees\": \"Varies, according to health plan.\",\r\n        \"accreditations\": null,\r\n        \"schedule\": \"Monday-Friday, 5am-6:30pm; Saturday: 7-11am\",\r\n        \"language\": \"English only\",\r\n        \"serviceArea\": [\r\n          {\r\n            \"idServiceArea\": \"3739628768383386601\",\r\n            \"city\": null,\r\n            \"county\": null,\r\n            \"stateProvince\": \"Alaska\",\r\n            \"country\": \"United States\"\r\n          },\r\n          {\r\n            \"idServiceArea\": \"3835912277430751338\",\r\n            \"city\": null,\r\n            \"county\": null,\r\n            \"stateProvince\": \"Minnesota\",\r\n            \"country\": \"United States\"\r\n          },\r\n          {\r\n            \"idServiceArea\": \"38[...]
