{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Keyword=healthcare&Location=denver)",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ],
          "Search-Location": [
            "denver),United States"
          ],
          "Search-Location-Complete": [
            "{\"city\":\"Denver\",\"county\":\"Denver\",\"state\":\"Colorado\",\"stateAbbr\":\"CO\",\"postalCode\":null,\"country\":\"United States\",\"latitude\":\"39.73845\",\"longitude\":\"-104.98485\"}"
          ],
          "Search-For": [
            "keywords=healthcare"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\r\n  \"count\": 783,\r\n  \"coverage\": null,\r\n  \"facets\": {\r\n    \"cityPhysicalAddress\": [\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Washington\",\r\n        \"count\": 55\r\n      },\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Youngstown\",\r\n        \"count\": 49\r\n      },\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Chicago\",\r\n        \"count\": 36\r\n      },\r\n      {\r\n        \"type\": 0,\r\n        \"from\": null,\r\n        \"to\": null,\r\n        \"value\": \"Manchester\",\[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Distance=10)&Keyword=healthcare&Location=denver",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\r\n  \"errors\": {\r\n    \"Distance\": [\r\n      \"The value '10)' is not valid.\"\r\n    ]\r\n  },\r\n  \"title\": \"One or more validation errors occurred.\",\r\n  \"status\": 400,\r\n  \"traceId\": \"800014ed-0000-de00-b63f-84710c7967bb\"\r\n}"
        }
      },
      "recorded_at": "Wed, 13 Sep 2023 01:48:31 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Distance=10&Keyword=healthcare&Location=denver",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type"[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Distance=10&Keyword=healthcare&Location=colorado",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Typ[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Distance=10&Keyword=healthcare&Location=denver%20CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-[...]
[...]
