{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Distance=10&Keyword=jasdhfgkjadshfjkasd&Location=denver%20CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ],
          "Search-Location": [
            "denver co,United States"
          ],
          "Search-Location-Complete": [
            "{\"city\":\"Denver\",\"county\":\"Denver\",\"state\":\"Colorado\",\"stateAbbr\":\"CO\",\"postalCode\":null,\"country\":\"United States\",\"latitude\":\"39.73845\",\"longitude\":\"-104.98485\"}"
          ],
          "Search-For": [
            "keywords=jasdhfgkjadshfjkasd"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\r\n  \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.4\",\r\n  \"title\": \"Not Found\",\r\n  \"status\": 404,\r\n  \"traceId\": \"80002c65-0002-a500-b63f-84710c7967bb\"\r\n}"
        }
      },
      "recorded_at": "Wed, 13 Sep 2023 16:50:08 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.211.org/search/v1/api/Search/Keyword?Distance=10&Keyword=jasdhfgkjadshfjkasd&Location=denver%20CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Powered-By": [
            "211 National Data Platform"
          ],
          "Search-Location": [
            "denver co,United States"
          ],
          "Search-Location-Complete": [
            "{\"city\":\"Denver\",\"county\":\"Denver\",\"state\":\"Colorado\",\"stateAbbr\":\"CO\",\"postalCode\":null,\"country\":\"United States\",\"latitude\":\"39.73845\",\"longitude\":\"-104.98485\"}"
          ],
          "Search-For": [
            "keywords=jasdhfgkjadshfjkasd"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\r\n  \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.4\",\r\n  \"title\": \"Not Found\",\r\n  \"status\": 404,\r\n  \"traceId\": \"80002a85-0000-c600-b63f-84710c7967bb\"\r\n}"
        }
      },
      "recorded_at": "Wed, 13 Sep 2023 22:17:22 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}